<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fix-daz3d-model-1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="dist/pre-cdn.js"></script>
    {{#cdn}}
      <script src="{{src}}"{{#integrity}} integrity="{{integrity}}" crossorigin="anonymous"{{/integrity}}></script>
    {{/cdn}}
    <script src="dist/post-cdn.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>fix-daz3d-model-1</h1>
          <div class="well">
            <div class="form-group">
              <button class="btn" v-bind:disabled="isLoading || isProcessing" v-on:click="transform">DAZ StudioからエクスポートしたモデルをMMD用に変換する</button>
            </div>
            <div class="form-group">
              <label for="transform-simply">DAZ StudioからエクスポートしたモデルをMMD用に変換する（簡易）</label>
              <input type="file" value="モデル選択" accept=".pmx" class="form-control" v-bind:disabled="isLoading || isProcessing" v-on:change="transformSimply($event)" id="transform-simply">
            </div>
            <div class="form-group">
              <label for="firm-up">胴体を細くする</label>
              <input type="file" value="モデル選択" accept=".pmx" class="form-control" v-bind:disabled="isLoading || isProcessing" v-on:change="firmUp($event)" id="firm-up">
            </div>
            <div class="form-group">
              <label for="scatter">破片モデルをばらまく</label>
              <input type="file" value="破片モデル選択" accept=".pmx" class="form-control" v-bind:disabled="isLoading || isProcessing" v-on:change="scatter($event)" id="scatter">
            </div>
            <div class="form-group">
              <button class="btn" v-bind:disabled="isLoading || isProcessing" v-on:click="createHairs">髪の毛モデルを作る</button>
            </div>
            <div class="form-group">
              <button class="btn" v-bind:disabled="isLoading || isProcessing" v-on:click="createHair">ボーン入りの髪の毛一本のモデルを作る</button>
            </div>
            <div class="form-group">
              <label for="brush-up-fingerprint">指紋画像をheightmap化する</label>
              <input type="file" value="指紋画像選択" accept=".png" class="form-control" v-bind:disabled="isLoading || isProcessing" v-on:change="brushUpFingerprint($event)" id="brush-up-fingerprint">
            </div>
            <div class="form-group">
              <button class="btn" v-bind:disabled="isLoading || isProcessing" v-on:click="tmp">なんかする</button>
            </div>
            <div class="form-group">
              <label for="log">システムからのメッセージ</label>
              <textarea rows="8" readonly class="form-control" id="log"></textarea>
            </div>
            <div class="form-group">
              <label>プレビュー</label>
              <div id="preview">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="dist/index.main.js"></script>
  </body>
</html>
